@font-face {
	font-family: "Parking Boss";
	src: local('Parking Boss'), inline-image("Parking Boss Regular DirectWrite 2016-10-01.woff", "application/font-woff") format("woff");
	font-style:   normal;
	font-weight:  400;
	font-stretch: normal;
	//unicode-range: U+1F698-1F698;
}