@font-face {
	font-family: "Source Sans Pro";
	src: inline-image("SourceSansPro-Semibold_directwrite.woff", "application/font-woff") format("woff");
	font-style:   normal;
	font-weight:  600;
	font-stretch: normal;
	//unicode-range: U+1F698-1F698;
}