/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2015 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Vanarchiv
 * License URL: http://www.fontspring.com/licenses/vanarchiv/webfont
 *
 *
 */

 
@font-face {
	font-family: "Van Condensed Pro ID";
	src: local("Van Condensed Pro ID"), inline-image("Van Condensed Pro ID 2017-03-30.woff", "application/font-woff") format("woff");
	font-style:   normal;
	font-weight:  normal;
	font-stretch: normal;
}