@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/fonts';

.alert {
    position: relative;
    font-weight: weight(normal);
    margin: 0 1em .5em;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid transparent;
    & > .fa-window-close {
        position: absolute;
        top: .25rem;
        right: .25rem;
        cursor: pointer;
        &:hover {
            text-shadow: 0 0 16px color(lighter-blue);
        }
    }
}