@import '../variables/colors';
@import '../variables/sizes';

@mixin button-style($name, $border, $fg, $bg, $hover, $active) {
    &.#{$name} {
        border: 1px solid $border;
        color: $fg;
        background-color: $bg;

        &:hover {
            background-color: $hover;
        }
        &:active {
            background-color: $active;
        }
        &[disabled] {
            background-color: color(xlight-gray);
            border: 1px solid color(xlight-gray);
            cursor: default;
        }
    }
}

.button {
    cursor: pointer;
    border: 1px solid color(light-gray);
    border-radius: 3px;
    padding: 4px 8px;

    &:hover {
        background-color: color(xlight-gray);
    }
    &:active {
        background-color: color(light-gray);
    }
    &:focus {
        outline: none;
    }
    &.small {
        font-size: size(small);
        padding: 0px 4px;
    }
    &.large {
        font-size: size(large);
        padding: 6px 12px;
    }
    &.block {
        display: block;
        width: 100%;
    }
    @include button-style(red, color(light-red), color(red), color(white), color(xlight-red), color(light-red));
    @include button-style(green, color(light-green), color(green), color(white), color(xlight-green), color(light-green));
}

td > .button.block {
    border-radius: 0;
}

.button-bar {
    display: inline-flex;

    & > .button {
        border-radius: 0;
    }
    &:not(.vertical) {
        &:not(:last-child) {
            border-right: 0;
        }
        &:first-child {
            border-radius: 3px 0 0 3px;
        }
        &:last-child {
            border-radius: 0 3px 3px 0;
        }
    }
    &.vertical {
        flex-direction: column;

        & > .button {
            &:not(:last-child) {
                border-bottom: 0;
            }
            &:first-child {
                border-radius: 3px 3px 0 0;
            }
            &:last-child {
                border-radius: 0 0 3px 3px;
            }
        }
    }
}