@import '../variables/colors';

form {
    fieldset {
        border: 1px solid color(light-gray);
        margin: 0 0 1em;
    }
    label {
        font-weight: normal;
        margin-right: 1em;
    }
    .inline-labelled > * {
        display: inline;
    }
    &:not(.working) .when-working {
        display: none;
    }
}