@import '../variables/colors';

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .logo {
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 10vw;
        height: 10vw;
    }
    .text {
        margin-top: .5em;
        color: color(gray);
    }
}
