@import '../variables/colors';

body {
    position: relative;
}
#lightbox {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: color(light-blue);
    z-index: 999;
    cursor: pointer;

    .modal {
        position: relative;
        min-width: 50%;
        max-width: 90%;
        min-height: 50%;
        max-height: 90%;
        cursor: default;
        background-color: color(white);
        overflow: auto;
        padding: 1em;
    }
}
