@import '../variables/fonts';
@import '../variables/sizes';
@import '../variables/colors';

html, body {
    font-family: font(base);
    font-size: size(base);
    line-height: $line-height;
    font-weight: weight(light);
}

h1, h2, h3, h4, h4, h5, h6 {
    line-height: 1;
    margin: .67em 0;
}

h1 {
    font-size: size(xlarge);
}
h2 {
    font-size: size(xlarge);
    color: color(dark-gray);
}
h3 {
    font-size: size(large);
}
h4 {
    font-size: size(large);
    color: color(dark-gray);
}
h5 {
    font-size: size(base);
}
h6 {
    font-size: size(base);
    color: color(dark-gray);
}

a {
    color: color(bright-blue);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

address {
    font-style: normal;
}