@import '../variables/fonts';
@import '../variables/sizes';
@import '../variables/colors';
@import '../variables/breakpoints';
@import '../variables/logo';

@include font-classes;
@include text-classes;
@include color-classes;
@include logo-classes;

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.inline {
    display: inline;
}

.error {
    color: color(red);
}