@mixin mobile {
    @media only screen and (max-width:  599px) {
        @content;
    }
}
@mixin tablet-landscape {
    @media only screen and (min-width:  600px) {
        @content;
    }
}
@mixin tablet-portrait {
    @media only screen and (min-width: 900px) {
        @content;
    }
}
@mixin desktop {
    @media only screen and (min-width:  1200px) {
        @content;
    }
}
@mixin large {
    @media only screen and (min-width:  1800px) {
        @content;
    }
}
