@import './luminance';

$colors: (
    white: #fff,
    off-white: #f6f6f6,
    xlight-gray: #eee,
    light-gray: #ccc,
    gray: #888,
    dark-gray: #444,
    xdark-gray: #222,
    off-black: #111,
    black: #000,
    brown: #693f23,
    light-brown: #b19685,
    dark-brown: #4d3322,
    red: #ce3430,
    xlight-red: #f6dfdf,
    light-red: #eec3c2,
    dark-red: #8a1000,
    xlight-blue: #e9ecf0,
    light-blue: #bec6d4,
    lighter-blue: #004db3,
    blue: #2b4c87,
    bright-blue: #007ed2,
    darker-blue: #002f6c,
    dark-blue: #001c33,
    yellow: #e7af34,
    xlight-yellow: #faf6ef,
    light-yellow: #e6d4b1,
    dark-yellow: #916403,
    purple: #6d2077,
    light-purple: #baa4bd,
    dark-purple: #39093f,
    orange: #e7792b,
    light-orange: #f5cfb3,
    dark-orange: #a34706,
    green: #318356,
    xlight-green: #e3f1e9,
    light-green: #9ecfb4,
    dark-green: #0d3300,
);

@function color($name) {
    @return get('colors', $colors, $name);
}

@mixin color-classes {
    @each $name, $color in $colors {
        .#{$name}-text {
            color: $color;
        }
        .#{$name}-bg {
            background-color: $color;
            color: choose-contrast-color($color);
        }
        .#{$name}-border {
            border-color: $color;
        }
    }
}
