@import 'functions';
@import '../fonts/vancondensedpro.700';

$fonts: (
    base: ('Roboto', Helvetica, Arial, sans-serif),
    identifier: ('Van Condensed Pro', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif),
);

$weights: (
    light: 300,
    normal: 400,
    bold: 700,
    xbold: 900,
);

@function font($name) {
    @return get('fonts', $fonts, $name);
}

@function weight($name) {
    @return get('weights', $weights, $name);
}

@mixin font-classes {
    @each $name, $family in $fonts {
        .#{$name}-font {
            font-family: $family;
            @if $name == 'identifier' {
                font-variant-caps: all-small-caps;
            }
        }
    }
    @each $name, $weight in $weights {
        .#{$name}-weight {
            font-weight: $weight;
        }
    }
}
