$line-height: 1.6125;
$font-sizes: (
    xsmall: 12px,
    small: 14px,
    base: 16px,
    large: 20px,
    xlarge: 24px,
);

@function size($name) {
    @return get('font-sizes', $font-sizes, $name);
}

@mixin text-classes {
    @each $name, $size in $font-sizes {
        .#{$name}-text {
            font-size: $size;
        }
    }
}
