@import "bourbon", "branding";


$ui-bg: lighten(black, 5%);
//$ui-bg: #3A3F43;
$ui-dark: $ui-bg;
$ui-nav: lighten($ui-bg, 6%);
$ui-overlay: lighten($ui-bg, 5%);
$ui-highlight: lighten($ui-dark, 15%);
//$ui-rev:white;
$ui-rev:darken(white, 15%);
$ui-divider: lighten($ui-dark,10%);
$ui-outline: lighten($ui-dark, 15%);
$ui-overlay-divider: lighten($ui-overlay, 10%);
$ui-overlay-outline: lighten($ui-overlay, 15%);
$ui-highlight:white;
$ui-deprecated: darken($ui-rev, 50%);
//$ui-info: lighten($ui-bg, 40%);
$ui-note:#fff4cc;
$ui-note-bg:transparent;
$ui-note-padding:0;
$ui-info:darken($ui-rev, 40%);
$ui-label:darken($ui-rev, 30%);
$ui-text:darken($ui-rev, 10%);


//$ui-blue: saturate(lighten(adjust_hue($dot-blue, 350), 20), 30);
//$ui-action: saturate(lighten(adjust_hue($dot-blue, 350), 50), 30);
//$ui-action: #29AFF5;
$ui-action: #66c2f3;
$ui-action-rev: white;
$ui-action-highlight: lighten($ui-action, 5%);
$ui-action-active: lighten($ui-action, 5%);
$ui-action-focus: $ui-action-active;

$ui-error-step: 5%;
$ui-error-base: 30%;
$ui-error: lighten($ui-r, $ui-error-base);
$ui-error: #F5726F;
$ui-error-highlight: lighten($ui-r, $ui-error-base - $ui-error-step);
$ui-error-active: lighten($ui-r, $ui-error-base + (2 * $ui-error-step));
$ui-error-focus: $ui-error-active;

//$ui-ok:saturate(lighten($dot-green, 15), 0);
//$ui-ok:#69D745;
$ui-ok:#8cd764;
$ui-ok-highlight: lighten($ui-ok,5%);
$ui-ok-active: lighten($ui-ok,10%);
$ui-ok-focus:$ui-ok-active;

$ui-delete: lighten($ui-r, 30%);
$ui-delete-highlight: lighten($ui-r, 25%);
$ui-delete-active: lighten($ui-r, 40%);
$ui-delete-focus:$ui-delete-active;

$ui-form-divider: $ui-divider;



$ui-start:saturate(lighten($dot-green, 0), 25);
$ui-end:saturate($dot-red, 10%);

// status colors
$ui-permitted:$ui-ok;
$ui-permitted-highlight:darken($ui-permitted, 10%);
$ui-permit:$ui-permitted;
$ui-permit-highlight:$ui-permitted-highlight;

$ui-violation: #FC9526;
$ui-violation-highlight: lighten($ui-violation, 10%);


$ui-donotpermit: saturate($dot-red, 10%);
$ui-donotpermit: #F5726F;
$ui-donotpermit-highlight: darken($ui-donotpermit, 10%);

$ui-ban: $ui-donotpermit;
$ui-ban-highlight: $ui-donotpermit-highlight;
$ui-banned: $ui-ban;
$ui-banned-highlight: $ui-ban-highlight;

$ui-assign: saturate($dot-blue, 5%);
$ui-assign-highlight: darken($ui-assign, 10%);
$ui-assigned: $ui-assign;
$ui-assigned-highlight: $ui-assign-highlight;

$ui-permit-media:$dot-blue-alt;
$ui-guests:$dot-green-alt;
$ui-residents:$dot-blue-alt;
$ui-warning-media:$dot-orange-alt;


$ui-activity: #681E99;