label.id {

    $font-size:1.375rem;
    
    > span:first-child {
        //font-size:1.25rem;
    }
    > span:first-child,
    {
        line-height:$font-size+0.125rem;
    }
    &::before, input, select+span {
        line-height:$font-size;
    }
    &::before, input, select+span {
        font-size:$font-size;
    }
    > span:first-child, input, select+span {
        //height:3.75rem;
        height:$font-size+2rem;
        border-bottom-width:0.5rem;
    }

    white-space:nowrap;

    display:block;
    
    + ul.datalist {
        
        padding-left:1.625rem;
        
	}
}
    
/*label.id.required {
    $font-size:2rem;
    
    > span:first-child {
        font-size:1.25rem;
    }
    > span:first-child,
    {
        line-height:$font-size+0.125rem;
    }
    &::before, input, select+span {
        line-height:$font-size;
    }
    &::before, input, select+span {
        font-size:$font-size;
    }
    > span:first-child, input, select+span {
        height:$font-size+2rem;
    }

}*/

label.id {

	+ ul.datalist {
		//padding:0.5rem 0;
		border-bottom:1px solid $ui-light-divider;
        
		
		&:empty {
			height:0;
			max-height:0;
			overflow:hidden;
			border:0;
			padding:0;
		}

		max-height:9.5em;
		overflow:auto;
        -webkit-overflow-scrolling: touch;
		
		li {
			
			button {
				height:2em;
				line-height:2em;
				color:$ui-action;
				display:block;
				width:100%;
                
                &::after {
                    //content:"";
                    display:inline-block;
                    @include size(1em, 1em);
                    
                    
                    vertical-align: middle;
                    background:transparent none no-repeat 100% 50%;
                    background-size:contain;
                    margin-top:-0.125em;
                    font-size:1em;
                    //background-image:svg-url('<svg width="415" height="676" viewBox="0 0 415 676" xmlns="http://www.w3.org/2000/svg"><path d="M0 77L77 0l338 338L77 676 0 597l260-259L0 77z" fill="#{$ui-light-outline}" fill-rule="evenodd"/></svg>');
                }
                &:hover::after {
                    //background-image:svg-url('<svg width="415" height="676" viewBox="0 0 415 676" xmlns="http://www.w3.org/2000/svg"><path d="M0 77L77 0l338 338L77 676 0 597l260-259L0 77z" fill="#{$ui-action}" fill-rule="evenodd"/></svg>');
                }
			}
            + li {
                border-top:solid 1px $ui-light-divider;
            }
		}
	}
}