a.vehicle.id::before,
data.vehicle.id a:before,
data.vehicle.id::before,
h1.vehicle.id:before,
label.vehicle.id:before {
	@include icon("vehicle");

}
label.vehicle.id > span:first-child::before {
	content:"License plate";
}
label.vehicle.id.required > span:first-child::before {
    content:"Enter license plate";
}

label.id::before,
label.id input,
h1.id,
data.id,
button.id,
label.id select + span,
{
	@include identifier;
	//letter-spacing:1px;
}

data.id,
label.id,
label.id input,
button.id,
{
    white-space:nowrap !important;
}

label.id,
label.id select+span,
h1.id,
data.id,
data.id a,
a.id,
{
	
	&::before {
		display:inline-block;
		text-align:center;
	}
}

h1.id,
{
	max-width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	text-overflow:$hellip;
	
}

data.id a,
a.id
{
	display:block;
	text-decoration:none;
	overflow:hidden;
	text-overflow:ellipsis;
	text-overflow:$hellip;
	//max-width:15em;
	position:relative;
	padding-right:0.75em;
	//vertical-align: middle;

	&[href]::after {
		@include icon("next");
		//@include icon-font;
		display:inline-block;
		width:0.75em;
		text-align:right;
		color:$ui-deprecated;
		position:absolute;
		right:0;
		z-index:1;
		//font-size:105%;
		//font-size:1.75em;
		//color:$ui-action;
		//color:inherit;
		
	}
	
	html.hoverable &:hover::after {
		color:$ui-action-highlight;
	}

}

label.id::before {
    margin-right:0.25rem;
}

h1.id,
data.id,
data.id a,
a.id {
	&::before {
		margin-right:0.25em;
		text-indent:1px;
	}
}

data.visiting::before,
data.visiting a::before,
label.visiting::before,
h1.visiting::before {

	@include icon("print");
}

@each $type in "permit", "warning", "vehicle", "media", "space", "numeric" {
	label.#{$type}.id input,
	data.#{$type}.id,
	h1.#{$type}.id,
	button.#{$type}.id,
	{
		letter-spacing:0.0625em;
	}
}

a.tenant.id,
data.tenant.id a,
data.tenant.id,
label.tenant.id,
label.tenant.id select+span,
h1.tenant.id,
{
	
	&::before {
		@include icon("tenant");
	}
	
	@each $key, $val in $tenants {
		html.tenants.#{$key} &::before,
		//&.#{$key}::before
		{
			@include icon($key);
		}
        &.#{$key}::before,
		&.#{$key} a::before,
		{
			content:icon($key) !important;
		}
	}
}

label.tenant.id {

    html:not(.tenants) & {
        display:none !important;
    }
	> span:first-child::first-letter {
		text-transform:uppercase;
	}
	> span:first-child:before {
		content:"Tenant number";
	}
    &.required > span:first-child:before {
		content:"Enter tenant number";
	}
    &.constrained > span:first-child:before {
		content:"Tenant";
	}
    &.constrained.required > span:first-child:before {
		content:"Enter tenant";
	}
    
	@each $key, $val in $tenants {
		html.tenants.#{$key} &,
		{
			> span:first-child::before {
				content:"#{$val} number";
			}
            &.required > span:first-child:before {
                content:"Enter #{$val} number";
            }
            &.constrained > span:first-child:before {
                content:"#{$val}";
            }
            &.constrained.required > span:first-child:before {
                content:"Enter #{$val}";
            }
		}
		&.#{$key}
		{
			> span:first-child::before {
				content:"#{$val} number" !important;
			}
            &.required > span:first-child:before {
                content:"Enter #{$val} number" !important;
            }
            &.constrained > span:first-child:before {
                content:"#{$val}" !important;
            }
            &.constrained.required > span:first-child:before {
                content:"Enter #{$val}" !important;
            }
		}

	}

}

a.media.id,
data.media.id a,
data.media.id,
label.media.id,
h1.media.id, {
	
	@each $key, $val in $media {
		html.#{$key}.media &::before,
		{
			@include icon($key);
		}
		&.#{$key}::before,
		&.#{$key} a::before,
		{
			content:icon($key) !important;
		}
	}
	
}

label.media.id {
	> span:first-child::first-letter {
			text-transform:uppercase;
	}
	> span:first-child:before {
		content:"Tag/decal number";
	}
	@each $key, $val in $media {
		html.#{$key}.media &,
		{
			> span:first-child::before {
				content:$val + " number";
			}
            &.required {
                > span:first-child::before {
                    content:"Enter " + $val + " number";
                }
            }
		}
		&.#{$key}
		{
			> span:first-child::before {
				content:$val + " number" !important;
			}
            &.required {
                > span:first-child::before {
                    content:"Enter " + $val + " number" !important;
                }
            }
		}
	}
}

a.smart.warning.id,
data.smart.warning.id a,
data.smart.warning.id,
label.smart.warning.id,
h1.smart.warning.id,
{

	&::before,
	{
		content:"\0023" !important;
	}
	
}

label.warning.id,
label.violation.id
{

	&::before,
	{
		content:"\0023" !important;
	}
	
}

label.smart.warning.id {
	> span:first-child::first-letter {
		text-transform:uppercase;
	}
	> span:first-child:before {
		content:"Smart Warning number";
	}
}

a.permit.id,
data.permit.id a,
data.permit.id,
label.permit.id,
h1.permit.id,
{

	&::before,
	{
		content:"\0023" !important;
	}
	
}

label.permit.id {
	/*
	> span:first-child::first-letter {
			text-transform:uppercase;
	}*/
	> span:first-child:before {
		content:"Permit number";
	}
}


data.auth.id::before,
label.auth.id::before,
h1.auth.id::before {
	@include icon("lock");
}

a.space.id::before,
data.space.id a::before,
data.space.id::before,
label.space.id::before,
h1.space.id::before {
	@include icon("space");
}
label.space.id {
    html:not(.spaces) & {
        display:none !important;
    }
    > span:first-child:before {
        content:"Parking space number";
    }
    
    &.required {
        > span:first-child:before {
            content:"Enter parking space number";
        }
	}
	&.constrained {
        > span:first-child:before {
            content:"Parking space";
        }
    }
    &.required.constrained {
        > span:first-child:before {
            content:"Enter parking space";
        }
    }
}

label.id::before,
label.id select+span::before {
	min-width:1em;
}

//data.violation.id,
label.violation.id,
h1.violation.id, {
    &::before {
	   @include icon("violation");
    }
}

data.id:not(.warning):not(.violation):not(.permit):not(.auth)::before {
	content:none !important;
	display:none !important;
}

label.id {
	&::before {
		margin-right:0.25rem;
	}
	
	white-space:nowrap;
	
	input {
		max-width:calc(100% - 1.25em);
	}

	&:not(.value) select + span {
		visibility:hidden;
	}
	select + span:after {
		content:none !important;
	}

	+ ul.datalist {
		//padding:0.5rem 0;
		border-bottom:1px solid $ui-divider;
        
		
		&:empty {
			height:0;
			max-height:0;
			overflow:hidden;
			border:0;
			padding:0;
		}

		max-height:9.5em;
		overflow:auto;
        -webkit-overflow-scrolling: touch;
		
		li {
			
			button {
				height:2em;
				line-height:2em;
				color:$ui-action;
				display:block;
				width:100%;
                
                &::after {
                    //content:"";
                    display:inline-block;
                    @include size(1em, 1em);
                    
                    
                    vertical-align: middle;
                    background:transparent none no-repeat 100% 50%;
                    background-size:contain;
                    margin-top:-0.125em;
                    font-size:1em;
                }

			}
            + li {
                border-top:solid 1px $ui-divider;
            }
		}
	}

}

label.id {

    $font-size:1.375rem;
    
    /*@include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(flex-start);

    > input {
        @include flex(1);
        //width:auto;
    }*/
    
    > input {
        width:calc(100% - 1.625rem);
    }
    
    > span:first-child,
    {
        line-height:$font-size+0.125rem;
    }
    &::before, input, select+span {
        line-height:$font-size;
    }
    &::before, input, select+span {
        font-size:$font-size;
    }
    > span:first-child, input, select+span {
        //height:3.75rem;
        height:$font-size+2rem;
        border-bottom-width:0.5rem;
    }

    white-space:nowrap;

    display:block;
    
    + ul.datalist {
        
        padding-left:$font-size+0.375rem;
        
	}
}
        
label.id:first-of-type:last-of-type {
    $font-size:2rem;
    
    > input {
        width:calc(100% - 2.25rem);
    }
    
    > span:first-child {
        font-size:1.25rem;
    }
    > span:first-child,
    {
        line-height:$font-size+0.125rem;
    }
    &::before, input, select+span {
        line-height:$font-size;
    }
    &::before, input, select+span {
        font-size:$font-size;
    }
    > span:first-child, input, select+span {
        height:$font-size+2rem;
    }

	+ ul.datalist {
        
        padding-left:$font-size+0.375rem;
        
	}

}


time[data-valid] {

	&[datetime] {

		
		&.invalid {
			color:$ui-error;
			//font-weight:700;
		}
	}
	&:empty {
		//display:none;
		&::before {
			content:"Updating...";
		}
	}
	&:not(:empty)::before {
		content:"Updated ";
	}

}
